@{
    ViewBag.Title = "About";
}
<div style="background:white; padding:40px; border-radius:15px;">
    <h1>Thông tin về chúng tôi</h1>
    <p>
        Quá trình hình thành: Công ty TNHH của chúng tôi (Mobile World Co. Ltd) thành lập vào tháng 10/2023
        website hỗ trợ mua bán các thiết bị liên quan đến điện thoại di động,
        thiết bị kỹ thuật số và các lĩnh vực liên quan đến thương mại điện tử.Bằng trải nghiệm
        về thị trường điện thoại di động từ đầu những năm 1990, cùng với việc nghiên cứu
        kỹ tập quán mua hàng của khách hàng Việt Nam, thegioididong.com đã xây dựng một phương thức
        kinh doanh chưa từng có ở Việt Nam trước đây. Công ty đã xây dựng được một phong cách tư vấn bán hàng
        đặc biệt nhờ vào một đội ngũ nhân viên chuyên nghiệp và trang web www.thegioididong.com hỗ trợ như là
        một cẩm nang về điện thoại di động và một kênh thương mại điện tử hàng đầu tại Việt Nam.Hiện nay,
        số lượng điện thoại bán ra trung bình tại cửa hàng khoảng 300.000 máy/tháng chiếm khoảng 15% thị phần điện thoại
    </p>
    <ul>
        <li>
            Top 500 nhà bán lẻ hàng đầu Châu Á - Thái Bình Dương 2010
        </li>
        <li>
            Top 5 nhà bán phát triển nhanh nhất Châu Á - Thái Bình Dương 2010
        </li>
        <li>
            Top 500 Fast VietNam 2010 (Thegioididong.com nằm trong top 4)
        </li>
        <li>
            Nhà bán lẻ được tín nhiệm nhất 4 năm liên tiếp 2007, 2008, 2009, 2010 (Vietnam Mobile Awards)
        </li>
    </ul>
    <strong>
        Quá trình phát triển:Tháng 10/2023: Ra quyết định thành lập công ty Sau 3 tháng thành lập, công ty ra mắt website
    </strong>
</div>