@{
    ViewBag.Title = "Contact";
}
<div style="background:white; padding:40px; border-radius:15px;" class="row">
    <h2 id="title">Liên hệ với chúng tôi</h2>
    <main aria-labelledby="title" class="col">
        <address>
            Địa chỉ: 828 Sư Vạn Hạnh Q10<br />
            Phone: +84 xxx xx xxx
        </address>
        <address>
            <strong>Hỗ trợ:</strong> <a href="mailto:abc@gmail.com">mail: abc@gmail.com</a><br />
        </address>
    </main>
    <main aria-labelledby="title" class="col">
        <address>
            Địa chỉ: ABC XYZ<br />
            Phone: +84 xxx xx xxx
        </address>
        <address>
            <strong>Hỗ trợ:</strong> <a href="mailto:xyz@gmail.com">mail: xyz@gmail.com</a><br />
        </address>
    </main>
</div>